<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Smartify - Insert</title>
  </head>
  <body>
    {% extends "templates.html" %}
    {% block content %}
    <h1> Insert </h1>
    <p> <pre>NUM FRIENDS: {{ num }} <br><br>CURRENT FRIENDS IN DATABASE: <br><br>{{ text }}
        </pre> </p>
    <h2> Add friend to your listening circle: </h1>
    <form method="POST">
      <label for="username">Username</label> 
      <input type="text", name="username"> <br>
      <label for="name">Name</label>
      <input type="text", name="name"> <br>
      <label for="rating">Rate their music taste from 1-5</label>
      <input type="text", name="rating"> <br>
      <input type="submit">
    </form>
    {% endblock %}
  </body>
</html>
