<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Smartify - Insert</title>
  </head>
  <body>
    {% extends "templates.html" %}
    {% block content %}
    <h1> Insert </h1>

    <h2> Add a new favorite song or artist! </h1>
    <form method="POST">
      <label for="name">Name</label>
      <input type="text", name="name"> <select class='form-group' name='search_type'>
        <option value='artist'>Artist</option>
        <option value='song'>Song</option>
      </select>
      
      <br>
      
      <label for="rating">Rating (from 1-5)</label>
      <input type="text", name="rating"> 
      <br>
      <input type="submit">
    </form>
    {% endblock %}
  </body>
</html>
