<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Smartify - Search</title>
  </head>
  <body>
    {% extends "templates.html" %}
    {% block content %}
    <h1> Search </h1>
    <h2> Search for a song or artist by rating! </h2>
    <form method="POST">
              
      <label for="rating">Rating</label> 
      <input type="text", name="rating"> 
      
      <select class='form-group' name='search_type'>
        <option value='artist'>Artist</option>
        <option value='song'>Song</option>
      </select>
      
      <br>
      
      <input type="submit">
    </form>
    <p> <pre>{{ text }}
    </pre> </p>
    {% endblock %}
  </body>
</html>
